<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SleepJourney</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='all.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="welcome-container">
        <img src="{{ url_for('static', filename='breathrest.gif') }}" alt="Welcome" class="welcome-image">
        <button class="help-button" onclick="redirectToChat()">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Help" style="width: 100%; height: 100%;">
        </button>
        <div class="welcome-text">
            <button class="start-button" onclick="start()">Back</button>
        </div>
    </div>

    <script>
        function start() {
            window.location.href = "{{ url_for('another_page') }}"; // Redirect to another page
        }
        function redirectToChat() {
            window.location.href = "{{ url_for('chat_page') }}";
        }
    </script>
</body>
</html>
